@tailwind base;
@tailwind components;
@tailwind utilities;

.prose thead th:first-child input,
.prose tbody td:first-child input {
  margin-left: 2px;
}

.prose thead th:last-child input,
.prose tbody td:last-child input {
  margin-left: -2px;
}

.prose thead th input,
.prose tbody td input {
  font-size: 16px;
}

.prose table {
  margin: 0;
}

.prose .heading-link {
  text-decoration: none;
}

.prose h2 {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.prose .image-container {
  position: relative;
  width: 100%;
}

.prose .image-container .image {
  border-radius: 10px;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
