@tailwind base;
@tailwind components;
@tailwind utilities;

.prose thead th:first-child input,
.prose tbody td:first-child input {
  margin-left: 2px;
}

.prose thead th:last-child input,
.prose tbody td:last-child input {
  margin-left: -2px;
}

.prose thead th input,
.prose tbody td input {
  font-size: 16px;
}

.prose table {
  margin: 0;
}

.prose img {
  border-radius: 10px;
  width: 100%;
}

.prose .heading-link {
  text-decoration: none;
}
